name: tests

permissions:
  contents: write  
  releases: write

on: 
  push:
    branches:
      - main
  release:
    types:
      - published

jobs:
  build_tests:
    name: build
    runs-on: ${{ matrix.os }}

    strategy:
        fail-fast: true
        matrix:
          include:
            - name: Windows
              os: windows-latest
              artifact_name: win64
            - name: Linux
              os: ubuntu-latest
              artifact_name: linux
            - name: macOS
              os: macos-latest
              artifact_name: macos
    
    steps:
      - name: Checkout codes
        uses: "actions/checkout@v4"

      - name: packaging
        run: |
          mkdir packages
          cp README.md packages/${{ matrix.artifact_name }}-README.txt

      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: package-${{ matrix.artifact_name }}
          path: |
            packages/*

  release:
    needs: [ build_tests ]    
    name: release
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')

    steps:
    - name: Download artifacts
      uses: actions/download-artifact@v4
      with:
        path: packages
        pattern: package-*
        merge-multiple: true

    - name: check
      run: ls -lR .

    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        files: |
          packages/*

